<!DOCTYPE html>
<html lang="en">
    <head>
        <title>College Enquiry Chat Bot | Admin Log in</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="\static\loginstyle.css">
    </head>
    <body>
        <div class="center">
            <h1>Admin Login</h1>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <p class = "message">{{ message }}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <form method="post" action="/verifyadmin">
                <div class="txt_field">
                    <input type="text" name="username" required>
                    <span></span>
                    <label>Admin Username</label>
                </div>
                <div class="txt_field">
                    <input type="password" name="password" required>
                    <span></span>
                    <label>Password</label>
                </div>
                <input type="submit" value="Login">
                <div class="signup_link">
                </div>
            </form>
        </div>
    </body>
</html>