<!DOCTYPE html>
<html>
    <head>
        <title>College Enquiry Chat Bot | Forgot password</title>
        <meta chatset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="\static\forgotstyle.css">
    </head>
    <body>
        <div class="center">
            <h1>Enter a new password:</h1>
            <form method="post" action="/changepass">
                <div class="txt_field">
                    <input type="text" name="email" value={{message}} readonly>
                    <span></span>
                    <label></label>
                </div>
                <div class="txt_field">
                    <input type="password" name="password" required>
                    <span></span>
                    <label>Password</label>
                </div>
                <input type="submit" value="Change Password">
                <div class="space"></div>
            </form>
        </div>
    </body>
</html>