<html>
    <head>
        <title>College Enquiry Chat Bot</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div class="banner">
            <p>CDE Chat Bot</p>
        </div>
        <div class="container">
            
            <div class="center">
                <!-- <p>Please log in or sign up to continue</p> -->
                <a href="/login"><button type="button" class="button">Log in</button></a>
                <a href="/signup"><button type="button" class="button" style="background: 0 0;">Sign up</button></a>
                <a href="/admin"><button type="button" class="button" style="background-color: #7A909B;">Admin Login</button></a>
            </div>
        </div>
    </body>
</html>
